[submodule "pack/mrw/start/pear-tree"]
	path = pack/mrw/start/pear-tree
	url = https://github.com/tmsvg/pear-tree.git
[submodule "pack/mrw/start/vimtex"]
	path = pack/mrw/start/vimtex
	url = https://github.com/lervag/vimtex.git
[submodule "pack/mrw/start/vim-polyglot"]
	path = pack/mrw/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule "pack/mrw/start/lightline.vim"]
	path = pack/mrw/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule "pack/mrw/start/vim-fugitive"]
	path = pack/mrw/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "pack/mrw/start/ultisnips"]
	path = pack/mrw/start/ultisnips
	url = https://github.com/sirver/ultisnips
[submodule "pack/mrw/start/vim-mucomplete"]
	path = pack/mrw/start/vim-mucomplete
	url = https://github.com/lifepillar/vim-mucomplete.git
[submodule "pack/mrw/start/goyo.vim"]
	path = pack/mrw/start/goyo.vim
	url = https://github.com/junegunn/goyo.vim.git
[submodule "pack/mrw/start/vim-commentary"]
	path = pack/mrw/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "pack/mrw/start/ctrlp"]
	path = pack/mrw/start/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim.git
